{{#each cats}}
<li class="cats__cat-card" id="item-{{{id}}}">
    <div class="cats__cat-card-image">
        <img src="https://cataas.com/cat" alt="./images/image_empty.png">
    </div>
    <div class="cats__cat-card-content">
        <div class="cats__cat-card-title">{{{title}}}</div>
        <div class="cats__cat-card-description">{{{description}}}</div>
        <div class="cats__cat-card-cuteness">
            <div class="cats__cat-card-cuteness-text">Cuteness: </div>
            <div class="cats__cat-card-cuteness-level">{{{cuteness}}}%</div>
        </div>
        <div class="cats__cat-card-buttons">
            <button class="cats__cat-card-edit btn-blue" id="editcat_button" onclick="location.href = '/cats/edit/{{{id}}}';">Edit</button>
            <button class="cats__cat-card-remove btn-red" id="removecat_button" onclick="location.href = '/cats/delete/{{{id}}}';">Remove</button>
        </div>
    </div>
</li>
{{/each}}